# --- CMake ---
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json
cmake-build/
build/
.cache/

# --- JUCE / Projucer ---
# Der Builds-Ordner wird meist vom Projucer oder Build-Systemen generiert und muss nicht ins Git
Builds/
JUCE/
JuceLibraryCode/

# --- IDEs und Editoren ---
.vscode/
.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# --- OS-spezifische Dateien ---
# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS / Linux
.DS_Store
.AppleDouble
.LSOverride

# --- Kompilierte Binärdateien ---
*.exe
*.dll
*.so
*.dylib
*.o
*.obj
*.pdb
*.ilk

TestResults/
Scripts/venv/
Scripts/*_python.json
Testfiles/
